[user]
	name = Krzysztof Gwóźdź
	email = krzysztof.gwozdz@outlook.com
[core]
	editor = 'C:\\Program Files\\Notepad++\\notepad++.exe' -multiInst -notabbar -nosession -noPlugin
[web]
	browser = chrome
[browser "chrome"]
	path = C:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.exe
[alias]
	#shortcuts
	aa = add .
	c = commit -m
	ca = commit-all
	s = status
	l = log
	
	#complex
	commit-all = !git aa && git c
	full-clean = clean -f -x -d
	first-commit = rev-list --max-parents=0 HEAD
	amend = commit --amend
	aliases = !git config -l | grep alias | cut -c 7-
	
	#log (graph)
	graph = !"git graph1"
	graph1 = !"git graph1-specific --all"
	graph2 = !"git graph2-specific --all"
	graph3 = !"git graph3-specific --all"
	graph1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
	graph2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	graph3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'